.signup{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(42deg, rgba(2,0,36,1) 0%, rgba(6,5,47,1) 1%, rgba(30,36,126,1) 8%, rgba(9,19,128,1) 20%, rgba(21,27,122,1) 24%, rgba(9,16,126,1) 29%, rgba(28,33,119,1) 32%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
    color: #ccc;
}

.signup-container{
    width: 420px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0.404);
}


.required-star{
    color: red;
}